<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Thông tin sản phẩm</title>
  <!-- ****************************************************************** -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}" />

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"
    th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>

  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"
    th:src="@{/webjars/popper.js/1.16.0/umd/popper.min.js}"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    th:src="@{/webjars/bootstrap/4.5.0/js/bootstrap.min.js}"></script>
  <!-- <script src="https://kit.fontawesome.com/yourcode.js"></script> -->

  <!-- ****************************************************************** -->
  <style>
    label {
      font-weight: 700;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

    .file-input-wrapper {
      overflow: hidden;
      position: relative;
      cursor: pointer;
    }

    .file-input-wrapper>input[type="file"] {
      position: absolute;
      top: 0;
      right: 0;
      opacity: 0;
      cursor: pointer;
    }

    .file-input-wrapper>.btn-file-input {
      cursor: pointer;
    }
  </style>
  <script type="text/javascript" th:inline="javascript">
    $(document).ready(function () {
      $('#modalDanhMucSanPham').on('hidden.bs.modal', function () {
        if (window.location.href.indexOf('#modalDanhMucSanPhamForm') != -1) {
          window.location.href = window.location.href.replace('#modalDanhMucSanPhamForm', '');
        } else if (window.location.href.indexOf('#modalDanhMucSanPhamTable') != -1) {
          window.location.href = window.location.href.replace('#modalDanhMucSanPhamTable', '');
        } else if (window.location.href.indexOf('#danhMucSanPhamChuaSanPham') != -1) {
          window.location.href = window.location.href.replace('#danhMucSanPhamChuaSanPham', '');
        }
      });
      $('#modalNhaSanXuat').on('hidden.bs.modal', function () {
        if (window.location.href.indexOf('#modalNhaSanXuatForm') != -1) {
          window.location.href = window.location.href.replace('#modalNhaSanXuatForm', '');
        } else if (window.location.href.indexOf('#modalNhaSanXuatTable') != -1) {
          window.location.href = window.location.href.replace('#modalNhaSanXuatTable', '');
        } else if (window.location.href.indexOf('#nhaSanXuatChuaSanPham') != -1) {
          window.location.href = window.location.href.replace('#nhaSanXuatChuaSanPham', '');
        }
      });
      $('#modalDonViTinh').on('hidden.bs.modal', function () {
        if (window.location.href.indexOf('#modalDonViTinhTable') != -1) {
          window.location.href = window.location.href.replace('#modalDonViTinhTable', '');
        } else if (window.location.href.indexOf('#modalDonViTinhForm') != -1) {
          window.location.href = window.location.href.replace('#modalDonViTinhForm', '');
        } else if (window.location.href.indexOf('#donViTinhChuaSanPham') != -1) {
          window.location.href = window.location.href.replace('#donViTinhChuaSanPham', '');
        }

      })
      $('#themAnh').click(function () {
        $('#danhSachAnh').append('<li><input type="file" name="anh" /></li>');
      });

      $('#xoaAnhDaiDien').click(function () {
        $('#anhDaiDien').val('');
        $('#imgShow').removeAttr('src');
      });

      $('#anhDaiDien').change(function () {
        var anhDaiDien = $('#anhDaiDien')[0].files[0]
        console.log('Anh dai dien ' + anhDaiDien);
        if (anhDaiDien != '') {
          $('#xoaAnhDaiDien').show();
        } else {
          $('#xoaAnhDaiDien').hide();
        }
        var reader = new FileReader();
        reader.onload = function (e) {
          $('#imgShow').attr('src', e.target.result);
        }
        reader.readAsDataURL(this.files[0]);
      })

      // /* - Button Luu - */
      // $('#btnLuu').on('click', function () {
      //   $('#formSanPham').attr('action', '/admin/sanpham/capNhatThongTinSanPham');
      // });
      // /* - Button Luu va Tiep tuc - */
      // $('#btnLuuVaTiepTuc').on('click', function () {
      //   $('#formSanPham').attr('action', '/admin/sanpham/thongtinsanpham/themSanPhamLuuVaTiepTuc');
      // });

      /* - Form Danh muc San pham - */
      $('#btnLuuDanhmucSanpham').on('click', function () {
        $('#formDanhMucSanPham').attr('action', '/admin/sanpham/thongtinsanpham/themDanhMucSanPhamLuu');
        // $('#_formDanhMucSanPham').attr('action', '/admin/sanpham/thongtinsanpham/themDanhMucSanPhamLuu');
      });

      $('#btnLuuvaTieptucDanhmucSanPham').on('click', function () {
        $('#formDanhMucSanPham').attr('action', '/admin/sanpham/thongtinsanpham/themDanhMucSanPhamLuuVaTiepTuc');
        // $('#_formDanhMucSanPham').attr('action', '/admin/sanpham/thongtinsanpham/themDanhMucSanPhamLuuVaTiepTuc');
      });

      /* - Form Don Vi Tinh - */
      $('#btnLuuDonViTinh').on('click', function () {
        $('#formDonViTinh').attr('action', '/admin/sanpham/thongtinsanpham/themDonViTinhLuu');
      })
      $('#btnLuuVaTiepTucDonViTinh').on('click', function () {
        $('#formDonViTinh').attr('action', '/admin/sanpham/thongtinsanpham/themDonViTinhLuuVaTiepTuc');
      })

      /* - Form Nha san xuat - */
      $('#btnLuuNhaSanXuat').on('click', function () {
        $('#formNhaSanXuat').attr('action', '/admin/sanpham/thongtinsanpham/themNhaSanXuatLuu');
      });
      $('#btnLuuVaTiepTucNhaSanXuat').on('click', function () {
        $('#formNhaSanXuat').attr('action', '/admin/sanpham/thongtinsanpham/themNhaSanXuatLuuVaTiepTuc');
      });

      /* - Href Nha san xuat - */
      if (window.location.href.indexOf('#modalNhaSanXuatForm') != -1) {
        $('#linkDanhSachNhasanxuat').removeClass('active');
        $('#linkTaoNhasanxuat').addClass('active');

        $('#danhSachNhasanxuat').addClass('fade');
        $('#danhSachNhasanxuat').removeClass('active');
        $('#danhSachNhasanxuat').removeClass('show');

        $('#taoNhasanxuat').addClass('show active');

        $('#modalNhaSanXuat').modal('show');
      } else if (window.location.href.indexOf('#modalNhaSanXuatTable') != -1) {
        $('#modalNhaSanXuat').modal('show');
      } else if (window.location.href.indexOf('#nhaSanXuatChuaSanPham') != -1) {
        $('#modalNhaSanXuat').modal('show');
        alert('Nhà sản xuất có chứa sản phẩm. Không thể xoá!');
      }

      /* - Href Don vi tinh - */
      if (window.location.href.indexOf('#modalDonViTinh') != -1) {
        $('#linkDanhSachDonvitinh').removeClass('active');
        $('#linkTaoDonvitinh').addClass('active');

        $('#danhSachDonvitinh').addClass('fade');
        $('#danhSachDonvitinh').removeClass('active');
        $('#danhSachDonvitinh').removeClass('show');

        $('#taoDonvitinh').addClass('show active');

        $('#modalDonViTinh').modal('show');
      } else if (window.location.href.indexOf('#modalDonViTinhTable') != -1) {
        $('#modalDonViTinh').modal('show');
      } else if (window.location.href.indexOf('#donViTinhChuaSanPham') != -1) {
        $('#modalDonViTinh').modal('show');
        alert('Đơn vị tính này có chứa sản phẩm. Không thể xoá!');
      }

      /* - Href Danh muc San pham - */
      if (window.location.href.indexOf('#modalDanhMucSanPhamForm') != -1) {
        $('#linkDanhSachDanhmucSanpham').removeClass('active');
        $('#linkTaoDanhmucSanPham').addClass('active');

        $('#danhSachDanhmucSanpham').addClass('fade');
        $('#danhSachDanhmucSanpham').removeClass('active');
        $('#danhSachDanhmucSanpham').removeClass('show');

        $('#taoDanhmucSanPham').addClass('show active');

        $('#modalDanhMucSanPham').modal('show');
      } else if (window.location.href.indexOf('#modalDanhMucSanPhamTable') != -1) {
        $('#modalDanhMucSanPham').modal('show');
      } else if (window.location.href.indexOf('#danhMucSanPhamChuaSanPham') != -1) {
        $('#modalDanhMucSanPham').modal('show');
        alert('Danh mục Sản phẩm này có chứa Sản phẩm. Không thể xoá!');
      }
      $('#btnSua').click(function () {
        $('#productName').prop('disabled', false);
        $('#quantity').prop('disabled', false);
        $('#price').prop('disabled', false);
        $('#sellingPrice').prop('disabled', false);
        $('#category').prop('disabled', false);
        $('#productId').prop('disabled', false);
        $('#unitmeasure').prop('disabled', false);
        $('#note').prop('disabled', false);
        $('#supplier').prop('disabled', false);

        $('#btnLuu').show();
        $('#btnHuy').show();
        $('#btnSua').hide();
        $('#btnTroVe').hide();
      });
      $('#btnHuy').click(function () {
        $('#productName').prop('disabled', true);
        $('#quantity').prop('disabled', true);
        $('#price').prop('disabled', true);
        $('#sellingPrice').prop('disabled', true);
        $('#category').prop('disabled', true);
        $('#productId').prop('disabled', true);
        $('#unitmeasure').prop('disabled', true);
        $('#note').prop('disabled', true);
        $('#supplier').prop('disabled', true);

        $('#btnLuu').hide();
        $('#btnHuy').hide();
        $('#btnSua').show();
        $('#btnTroVe').show();
      });
    });
  </script>
  <script type="text/javascript">

  </script>
</head>

<body>
  <div class="container-fluid">
    <div class="content mt-5">
      <form id="formSanPham" th:action="@{/admin/sanpham/capNhatSanPham}" th:object="${product}" method="POST">
        <!-- Row 1 -->
        <div class="row">
          <div class="col-lg-4 col-md-6 align-content-center">
            <h2>Thông tin sản phẩm</h2>
          </div>
          <div class="col-lg-4 col-md-0 col-sm-12">

          </div>
          <div class="col-lg-4 col-md-12 col-sm-12">
            <!-- <div class="float-right">
              <button id="btnLuu" type="submit" class="btn btn-success"><i class="fa fa-flag-checkered"></i>
                Lưu</button>
              <button id="btnLuuVaTiepTuc" type="submit" class="btn btn-outline-success">
                <i class="fa fa-save"></i> Lưu và Tiếp tục
              </button>
              <i></i>
              <button type="reset" class="btn btn-outline-warning"><i class="fa fa-refresh"></i>
                Reset</button>
              <button type="button" class="btn btn-outline-danger"><a class="text-reset" href="#"
                  th:href="@{/admin/hanghoa}"><i class="fa fa-arrow-left"></i> Trở về</a></button>
            </div> -->
            <div class="float-right">
              <button style="display: none;" id="btnLuu" type="submit" class="btn btn-success">
                <i class="fa fa-save"></i> Lưu
              </button>
              <button style="display: none;" id="btnHuy" type="button" class="btn btn-danger">
                <i class="fa fa-close"></i> Huỷ
              </button>
              <button id="btnSua" type="button" class="btn btn-outline-success">
                <i class="fa fa-edit"></i> Sửa
              </button>
              <button id="btnTroVe" type="button" class="btn btn-outline-danger">
                <a style="text-decoration: none;" class="text-reset" th:href="@{/admin/hanghoa}">
                  <i class="fa fa-arrow-left"></i> Trở về
                </a>
              </button>
            </div>
          </div>
        </div>
        <hr>
        <!-- Row 2 -->
        <div class="row">
          <!-- Left -->
          <div class="col-lg-4">
          </div>
          <!-- Center -->
          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="form-group">
              <label for="productName">Tên sản phẩm</label>
              <input class="form-control" type="text" name="productName" id="productName" th:field="*{productName}"
                th:value="${product.productName}" placeholder="Nhập tên Sản phẩm" required disabled />
            </div>
            <div class="form-group">
              <label for="quantity">Số lượng</label>
              <input class="form-control" type="number" name="quantity" id="quantity" th:field="*{quantity}"
                th:value="${product.quantity}" placeholder="Số lượng" required disabled />
            </div>
            <div class="form-group">
              <label for="price">Giá vốn</label>
              <input class="form-control" type="number" name="price" id="price" th:field="*{price}"
                th:value="${product.price}" placeholder="Nhập Giá vốn" required disabled />
            </div>
            <div class="form-group">
              <label for="sellingPrice">Giá bán lẻ</label>
              <input class="form-control" type="text" name="sellingPrice" id="sellingPrice" th:field="*{sellingPrice}"
                placeholder="Nhập giá Bán lẻ" required disabled />
            </div>
            <div class="form-group">
              <label for="category">Danh mục Sản phẩm</label>
              <div class="input-group">
                <select class="form-control" name="category" id="category" th:field="*{category}" required disabled>
                  <option value="0">Danh mục Sản phẩm</option>
                  <option th:each="category : ${categories}" th:value="${category.categoryId}"
                    th:selected="(${category.categoryId} == ${product.category.categoryId})"><span
                      th:text=" ${category.categoryName}"></span></option>
                </select>
                <!-- Open model Danh muc San Pham -->
                <div class="input-group-append">
                  <button type="button" class="btn btn-outline-primary" data-toggle="modal"
                    data-target="#modalDanhMucSanPham"><i class="fa fa-plus"></i></button>
                </div>
              </div>
            </div>
          </div>
          <!-- Right -->
          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="form-group">
              <label for="productId">Mã sản phẩm</label>
              <input class="form-control" type="text" name="productId" id="productId" th:field="*{productId}"
                th:value="${product.productId}" readonly disabled />
            </div>
            <div class="form-group">
              <label for="unitmeasure">Đơn vị tính</label>
              <div class="input-group">
                <select class="form-control" name="unitmeasure" id="unitmeasure" th:field="*{unitMeasure}" required
                  disabled>
                  <option value="0">Đơn vị tính</option>
                  <option th:each="unitmeasure : ${unitmeasures}" th:value="${unitmeasure.unitId}"
                    th:selected="(${unitmeasure.unitId} == ${product.unitMeasure.unitId})"><span
                      th:text="${unitmeasure.unitName}"></span></option>
                </select>
                <!-- Open model Don vi tinh -->
                <div class="input-group-append">
                  <button type="button" class="btn btn-outline-primary" data-toggle="modal"
                    data-target="#modalDonViTinh"><i class="fa fa-plus"></i></button>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="note">Thông tin thêm</label>
              <textarea class="form-control" name="note" id="note" cols="30" rows="5" th:value="${product.note}"
                th:field="*{note}" disabled></textarea>
            </div>
            <div class="form-group">
              <label for="supplier">Nhà sản xuất</label>
              <div class="input-group">
                <select class="form-control" name="supplier" id="supplier" th:field="*{supplier}" required disabled>
                  <option value="0">Nhà sản xuất</option>
                  <option th:each="supplier : ${suppliers}" th:value="${supplier.supplierId}"
                    th:selected="(${supplier.supplierId} == ${product.supplier.supplierId})"><span
                      th:text="${supplier.supplierName}"></span></option>
                </select>
                <!-- Ope model Nha san xuat -->
                <div class="input-group-append">
                  <a class="btn btn-outline-primary" id="linkThemNhaSanXuat" href="#modalNhaSanXuat" data-toggle="modal"
                    data-target="">
                    <i class="fa fa-plus"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Row 3 -->
        <div class="row">
          <div class="col-lg-12">
            <div class="jumbotron">
              <h2>Upload Hình ảnh sản phẩm</h2>
              <hr>
              <h4>Ảnh đại diện</h4>
              <div class="row">
                <div class="file-input-wrapper col">
                  <button id="themAnhDaiDien" type="button" class="btn btn-outline-primary btn-file-input"><i
                      class="fa fa-plus"></i>
                    Thêm
                    Ảnh đại diện</button>
                  <input class="form-control" style="opacity: 0;" type="file" name="anhDaiDien" id="anhDaiDien"
                    th:field="*{image}" />
                </div>
                <div class="col">
                  <button id="xoaAnhDaiDien" type="button" class="btn btn-outline-danger"><i class="fa fa-minus"></i>
                    Xoá Ảnh Đại diện</button>
                </div>
              </div>
              <div class="mt-5">
                <img class="mx-auto d-block" src="#" alt="" id="imgShow" style="width: 20%; height: 20%;" />
              </div>
              <hr>
              <!-- <h4>Các ảnh chi tiết về sản phẩm</h4>
              <button id="themAnh" type="button" class="btn btn-outline-info">Thêm ảnh</button>
              <button id="xoaAnh" type="button" class="btn btn-outline-warning">Xoá ảnh</button>
              <ul id="danhSachAnh" class="mt-3">
              </ul> -->
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- Các model -->
  <div>
    <!-- Modal Danh muc San pham -->
    <div class="modal fade" id="modalDanhMucSanPham">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h4>Quản lý Danh mục Sản phẩm</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <ul class="nav nav-tabs nav-justified">
              <li class="nav-item">
                <a id="linkDanhSachDanhmucSanpham" class="nav-link active" data-toggle="tab"
                  href="#danhSachDanhmucSanpham"><i class="fa fa-list"></i>
                  Danh sách Danh mục</a>
              </li>
              <li class="nav-item">
                <a id="linkTaoDanhmucSanPham" class="nav-link" data-toggle="tab" href="#taoDanhmucSanPham"><i
                    class="fa fa-plus"></i> Thêm mới
                  Danh mục</a>
              </li>
            </ul>
            <div class="tab-content">
              <div id="danhSachDanhmucSanpham" class="tab-pane active">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Tên Danh mục Sản phẩm</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr th:each="category : ${categories}">
                      <td><span th:text="${category.categoryId}"></span></td>
                      <td><span th:text="${category.categoryName}"></span></td>
                      <td>
                        <a th:href="@{/admin/sanpham/thongtinsanpham/xoaDanhMucSanPham(categoryId=${category.categoryId}, productId=${product.productId})}"
                          onclick="if (confirm('Delete selected item?')){return true;}else{event.stopPropagation(); event.preventDefault();};">
                          <i class="fa fa-trash"></i>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div id="taoDanhmucSanPham" class="tab-pane fade">
                <form id="formDanhMucSanPham" th:action="@{'#'}" th:object="${category}" method="POST">
                  <div class="form-group">
                    <label for="tenDanhmucSanPham">Tên Danh mục Sản phẩm</label>
                    <input type="hidden" th:field="*{categoryId}" name="" id="">
                    <input class="form-control" type="text" name="tenDanhmucSanpham" id="tenDanhmucSanPham"
                      th:field="*{categoryName}" placeholder="Nhập tên Danh mục Sản phẩm" />
                  </div>
                  <hr>
                  <button id="btnLuuDanhmucSanpham" type="submit" class="btn btn-success"><i class="fa fa-check"></i>
                    Lưu</button>
                  <button id="btnLuuvaTieptucDanhmucSanPham" type="submit" class="btn btn-outline-success"><i
                      class="fa fa-save"></i> Lưu và tiếp tục</button>
                </form>
              </div>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-close"></i> Đóng</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal Don vi tinh -->
  <div class="modal fade" id="modalDonViTinh">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4>Quản lý Đơn vị tính</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <div class="modal-body">
          <ul class="nav nav-tabs nav-justified">
            <li class="nav-item">
              <a id="linkDanhSachDonvitinh" class="nav-link active" data-toggle="tab" href="#danhSachDonvitinh"><i
                  class="fa fa-list"></i> Danh
                sách Đơn vị tính</a>
            </li>
            <li class="nav-item">
              <a id="linkTaoDonvitinh" class="nav-link" data-toggle="tab" href="#taoDonvitinh"><i
                  class="fa fa-plus"></i> Thêm Đơn vị
                tính</a>
            </li>
          </ul>
          <div class="tab-content">
            <div id="danhSachDonvitinh" class="tab-pane active">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Tên Đơn vị tính</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr th:each="unitmeasure : ${unitmeasures}">
                    <td><span th:text="${unitmeasure.unitId}"></span></td>
                    <td><span th:text="${unitmeasure.unitName}"></span></td>
                    <td>
                      <a th:href="@{/admin/sanpham/thongtinsanpham/xoaDonViTinh(unitId=${unitmeasure.unitId}, productId=${product.productId})}"
                        onclick="if (confirm('Delete selected item?')){return true;}else{event.stopPropagation(); event.preventDefault();};">
                        <i class="fa fa-trash"></i>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div id="taoDonvitinh" class="tab-pane fade">
              <form id="formDonViTinh" th:action="${'#'}" th:object="${unitmeasure}" method="POST">
                <div class="form-group">
                  <label for="tenDanhmucSanPham">Tên Đơn vị tính</label>
                  <input type="hidden" th:field="*{unitId}" name="" id="">
                  <input class="form-control" type="text" name="tenDanhmucSanpham" id="tenDanhmucSanPham"
                    th:field="*{unitName}" placeholder="Nhập tên Đơn vị tính" required />
                </div>
                <hr>
                <button id="btnLuuDonViTinh" type="submit" class="btn btn-success"><i class="fa fa-check"></i>
                  Lưu</button>
                <button id="btnLuuVaTiepTucDonViTinh" type="submit" class="btn btn-outline-success"><i
                    class="fa fa-save"></i> Lưu và tiếp
                  tục</button>
              </form>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-close"></i> Đóng</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal Nha san xuat -->
  <div class="modal fade" id="modalNhaSanXuat">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4>Quản lý Nhà sản xuất</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <div class="modal-body">
          <ul class="nav nav-tabs nav-justified">
            <li class="nav-item">
              <a id="linkDanhSachNhasanxuat" class="nav-link active" data-toggle="tab" href="#danhSachNhasanxuat"><i
                  class="fa fa-list"></i> Danh
                sách Nhà sản xuất</a>
            </li>
            <li class="nav-item">
              <a id="linkTaoNhasanxuat" class="nav-link" data-toggle="tab" href="#taoNhasanxuat"><i
                  class="fa fa-plus"></i> Thêm Nhà sản
                xuất</a>
            </li>
          </ul>
          <div class="tab-content">
            <div id="danhSachNhasanxuat" class="tab-pane active">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Tên Nhà sản xuất</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr th:each="supplier : ${suppliers}">
                    <td><span th:text="${supplier.supplierId}"></span></td>
                    <td><span th:text="${supplier.supplierName}"></span></td>
                    <td>
                      <a th:href="@{/admin/sanpham/thongtinsanpham/xoaNhaSanXuat(supplierId=${supplier.supplierId}, productId=${product.productId})}"
                        onclick="if (confirm('Delete selected item?')){return true;}else{event.stopPropagation(); event.preventDefault();};">
                        <i class="fa fa-trash"></i>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div id="taoNhasanxuat" class="tab-pane fade">
              <form id="formNhaSanXuat" th:action="@{'#'}" th:object="${supplier}" method="POST">
                <div class="form-group">
                  <label for="tenNhasanxuat">Tên Nhà sản xuất</label>
                  <input type="hidden" th:field="*{supplierId}" name="" id="">
                  <input class="form-control" type="text" name="tenNhasanxuat" id="tenNhasanxuat"
                    th:field="*{supplierName}" placeholder="Nhập tên Nhà sản xuất" />
                </div>
                <hr>
                <button id="btnLuuNhaSanXuat" type="submit" class="btn btn-success"><i class="fa fa-check"></i>
                  Lưu</button>
                <button id="btnLuuVaTiepTucNhaSanXuat" type="submit" class="btn btn-outline-success"><i
                    class="fa fa-save"></i> Lưu và tiếp
                  tục</button>
              </form>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-close"></i> Đóng</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Anh dai dien -->
  <div class="modal fade" id="modalAnhDaiDien">

  </div>
  </div>
</body>

</html>