.topbar {
    height: 4.375rem;
    padding-left: 300px;
}
*, *:before, *:after {
    box-sizing: inherit;
}
.navlink{
    color: #4e73df;
    text-decoration: none;
    background-color: transparent;
    padding-right: 272px;
}
img {
    border-style: none;
}
.topbar .navbar-search input {
    font-size: 0.99rem;
    height: auto;
}
button, html [type="button"], [type="reset"], [type="submit"] {
    -webkit-appearance: button;
}
.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    padding-top: -10px;
    list-style: none;
}



h1, h2, h3, h4, h5, h6 {
    padding: 10px 0px 20px 0px;
    color: #545454;
    font-weight: inherit;
}
h2 {
    font-size: 27px;
    line-height: 35px;
}
*, ::before, ::after {
    box-sizing: border-box;
}
button, input, select, textarea {
    font: inherit;
    margin: 0;
}
button, input {
    overflow: visible;
}
.btn, button, [role=button], [type=submit] {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    color: black;
    cursor: pointer;
    display: inline-block;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    margin: 0;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
}
button, select {
    text-transform: none;
}
button, input, select, textarea {
    font: inherit;
    margin: 0;
}
article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
    display: block;
}

.buttons_added{
	padding-top: 30px;
}




.jFkAwY {
    width: 1270px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}
.is-form.minus {
    border-radius: 4px 0 0 4px;
}
.is-form {
    overflow: hidden;
    position: relative;
    background-color: #f9f9f9;
    height: 2.2rem;
    width: 1.9rem;
    padding: 0;
    text-shadow: 1px 1px 1px #fff;
    border: 1px solid #ddd;
}
.btn, button, [role=button], [type=submit] {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    color: black;
    cursor: pointer;
    display: inline-block;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    margin: 0;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
}
button, select {
    text-transform: none;
}
button, input, select, textarea {
    font: inherit;
    margin: 0;
}
button, html [type="button"], [type="reset"], [type="submit"] {
    -webkit-appearance: button;
}
.input-qty {
    background-color: #fff;
    height: 2.2rem;
    text-align: center;
    font-size: 1rem;
    display: inline-block;
    vertical-align: top;
    margin: 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-left: 0;
    border-right: 0;
    padding: 0;
}
button, input {
    overflow: visible;
}
.is-form.plus {
    border-radius: 0 4px 4px 0;
}
.is-form {
    overflow: hidden;
    position: relative;
    background-color: #f9f9f9;
    height: 2.2rem;
    width: 1.9rem;
    padding: 0;
    text-shadow: 1px 1px 1px #fff;
    border: 1px solid #ddd;
}
.btn, button, [role=button], [type=submit] {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    color: black;
    cursor: pointer;
    display: inline-block;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    margin: 0;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
}
button, select {
    text-transform: none;
}








html {
    line-height: 1.15;
    text-size-adjust: 100%;
}

*, ::before, ::after {
    box-sizing: border-box;
}

.zCLHs .cart {
    display: flex;
    flex-wrap: nowrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding-top: 20px;
    margin-bottom: 100px;
}

.zCLHs .cart-inner {
    width: 950px;
}









h2 {
    font-size: 1.5em;
    font-weight: bold;
}

.McNPu .cart-products-inner {
    background: rgb(255, 255, 255);
    margin: 0px;
    border-radius: 4px;
}

.McNPu .cart-products__products {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.McNPu .cart-products__product {
    padding: 5px;
}
.McNPu .cart-products__inner {
    display: flex;
    flex-wrap: nowrap;
}
img {
    max-width: 100%;
}

.McNPu .cart-products__content {
    display: flex;
    flex-wrap: nowrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: calc(100% - 130px);
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}












.McNPu .cart-products__del {
    color: rgb(27, 168, 255);
    display: inline-block;
    margin-right: 1px;
    font-size: 14px;
    cursor: pointer;
}

.McNPu .cart-products__details {
    display: flex;
    flex-wrap: nowrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.McNPu .cart-products__pricess {
    text-align: right;
    margin-right: 25px;
}

.McNPu .cart-products__real-prices {
    font-size: 16px;
    margin-bottom: 5px;
    font-weight: 500;
    display: inline-block;
    padding-top: 20px;
    color: red;
}

.zCLHs .cart-total-prices {
    width: calc(100% - 965px);
    margin-top: 31px;
}

.zCLHs .cart-total-prices__inner {
    position: sticky;
    top: 30px;
}

.ENgjL .prices {
    background: rgb(255, 255, 255);
    border-radius: 4px;
}

.ENgjL .prices__items {
    list-style: none;
    margin: 0px;
    padding: 17px 20px;
    border-bottom: 1px solid rgb(244, 244, 244);
}













.ENgjL .prices__item {
    display: flex;
    flex-wrap: nowrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin-bottom: 10px;
}

.ENgjL .prices__text {
    font-weight: 300;
    color: rgb(51, 51, 51);
    display: inline-block;
}

.ENgjL .prices__total {

    flex-wrap: nowrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 17px 20px;
    margin: 0px;
}

.ENgjL .prices__text {
    font-weight: 300;
    color: rgb(51, 51, 51);
    display: inline-block;
}



.ENgjL .prices__value--final i {
    font-weight: 300;
    font-style: normal;
    display: block;
    font-size: 10px;
    color: rgb(51, 51, 51);
    margin-top: 3px;
    outline: none;
    border:0;
}

.ENgjL .prices__value--final {
    color: rgb(254, 56, 52);
    font-size: 22px;
    font-weight: 400;
    text-align: center;
    outline: none;
    border:0;   
}

.zCLHs .cart__submit {
    color: rgb(255, 255, 255);
    text-align: center;
    width: 100%;
    display: block;
    cursor: pointer;
    background: rgb(255, 66, 78);
    padding: 13px 10px;
    border-radius: 4px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    margin: 15px 0px;
}