@charset "UTF-8";
input.error {
  font-size: 15px;
}

label.error {
  color: red;
  font-size: 13px;
}
#page-content {
  margin-left: 300px;
}
.left-sidebar {
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  /* padding-top: 60px; */
}

.left-sidebar > ul > li:first-child {
  font-weight: 600;
  font-style: italic;
  font-size: 20px;
  color: #586781;
  margin-left: 20px;
  list-style-type: none;
  border-left: none !important;
}

.left-sidebar > ul > li {
  text-align: left;
  padding: 0;
  margin: 0;
  position: relative;
  padding: 10px 0 10px 10px;
}

.left-sidebar > ul > li > div > a {
  text-decoration: none;
  font-size: 18px;
  border-left: 5px solid #007bff;
}

.left-sidebar > ul > li > div a > i {
  color: #f1f1f1;
  position: absolute;
  padding-top: 5px;
}

.left-sidebar > ul > li > div > a > span {
  display: inline-block;
  padding-left: 50px;
  color: #f1f1f1;
}

.left-sidebar > ul > li a:hover > i::before {
  display: inline-block;
  animation: swing ease-in-out 0.5s 1 alternate;
}

.left-sidebar > ul > li > div.collapse::after {
  color: #007bff;
}

[data-toggle='collapse']::after {
  font: normal normal normal 14px/1 FontAwesome;
  display: inline-block;
  text-rendering: auto;
  content: '\f054';
  transform: rotate(90deg);
  transition: all linear 0.25s;
  margin: auto;
  margin-right: 0;
}

[data-toggle='collapse'].collapsed::after {
  transform: rotate(0deg);
}
#collapseKhoHang ul,
#collapseDanhMuc ul {
  background-color: #5c5c5c;
  width: 100%;
  list-style-type: circle;
  color: #f1f1f1;
  padding-left: 50px;
  border: none !important;
}

#collapseKhoHang ul > li > a > span,
#collapseDanhMuc ul > li > a > span {
  color: #f1f1f1;
}

#page-content {
  transition: margin-left 0.5s;
}
