<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<!-- Bootstrap -->
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
		th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}" rel="stylesheet" />
	<!-- Custom style -->
	<link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"
		th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>

	<!-- Popper JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"
		th:src="@{/webjars/popper.js/1.16.0/umd/popper.min.js}"></script>


	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
		th:src="@{/webjars/bootstrap/4.5.0/js/bootstrap.min.js}"></script>

	<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js"
		th:src="@{webjars/jquery.validate/1.13.1/jquery.validate.min.js}"></script>

</head>

<body>
	<div class="container">
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="narbar-header">
					<a class="navbar-brand" href="/">Cover Start</a>
				</div>
				<ul class="nav navbar-nav">
					<li class="active"><a href="/">Home</a></li>
					<li sec:authorize="hasRole('ROLE_ADMIN')"><a href="/">Admin</a></li>
				</ul>
				<ul class="nav navbar-nav" sec:authorize="!isAuthenticated()">
					<li><a href="/registrasi"><span class="glyphicon glyphicon-user"> Sign Up</span></a></li>
					<li><a href="/login"><span class="glyphicon glyphicon-login-in"> Login</span></a></li>
				</ul>
				<ul class="nav navbar" sec:authorize="isAuthenticated()">
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#" sec:authentication="name">
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li><a href="/logout">Logout</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</nav>
		<div sec:authorize="hasRole('ROLE_ADMIN')" class="row">
			<div>
				<h1>Hello, <span sec:authentication="name"></span></h1>
			</div>
			<div class="">
				<table>
					<thead>
						<tr>
							<td>ID</td>
							<td>Họ và Tên</td>
							<td>Giới tính</td>
							<td>Ngày sinh</td>
							<td>Email</td>
							<td>Số điện thoại</td>
						</tr>
					<tbody>
						<tr th:each="user : ${users}">
							<td th:text="${user.id}"></td>
							<td th:text="${user.hoten}"></td>
							<td th:text="${user.gioitinh}"></td>
							<td th:text="${user.ngaysinh}"></td>
							<td th:text="${user.email}"></td>
							<td th:text="${user.sodienthoai}"></td>
						</tr>
					</tbody>
					</thead>
				</table>
			</div>
		</div>
	</div>
</body>

</html>