<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<title>Shopping Cart</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
	<link  th:href="@{/resources/css/sb-admin-2.min.css}" rel="stylesheet">


   	<link th:href="@{/resources/css/shoppingcart.css}" rel="stylesheet" href="../../../resources/css/shoppingcart.css">
	<script type="text/javascript" th:src="@{/resources/js/detailProduct.js}"></script>





      
    </script>

</head>

<body>

	<div class="header">
  
		<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
  <!-- Topbar Search -->
  <a class="navlink" th:href="@{/index}"> <img th:src="@{/resources/images/logo.png}" style="width:66px;hieght:66px;"></a>
	<form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
	<div class="input-group">
	  <input type="text" class="form-control bg-light border-0 small" placeholder="Nhập từ khóa bạn muốn tìm kiếm"  >
		<button class="btn btn-primary" type="button">
		  <i class="fas fa-search fa-sm" >Tìm Kiếm</i>
		</button>
	</div>
  </form>

  <!-- Topbar Navbar -->
  <ul class="navbar-nav ml-auto">

	<!-- Shopping Cart -->
	<li class="nav-item dropdown no-arrow mx-1">
	  <a class="nav-link dropdown-toggle" href="#">
		<i class="fa fa-bell" aria-hidden="true" style="font-size:24px"></i>
		<!-- Counter - Messages -->
		<span> Đơn Hàng	</span>
		<span class="badge badge-danger badge-counter" th:text="${myCart.getLineItemCount()}+'+'"></span>
	  </a>
	</li>
	<li class="nav-item dropdown no-arrow mx-1">
	  <a class="nav-link dropdown-toggle" th:href="@{/ShoppingCart}">
		<i class="fa fa-cart-plus " aria-hidden="true" style="font-size:24px"></i>
		<!-- Counter - Messages -->
		<span> Giỏ Hàng</span>
		<span class="badge badge-danger badge-counter" th:text="${myCart.getLineItemCount()}+'+'"></span>
	  </a>
	</li>

	<div class="topbar-divider d-none d-sm-block"></div>

	<!-- Nav Item - User Information -->
	<li class="nav-item dropdown no-arrow">
	  <a class="nav-link dropdown-toggle" href="#"  role="button" data-toggle="dropdown"  aria-expanded="false">	
		<i class="fa fa-user" aria-hidden="true" style="font-size:24px"></i>
		<span >  Đăng nhập </span>
	  </a>
	  <!-- Dropdown - User Information -->
	  <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" a>
		<a class="dropdown-item" href="#">
		  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
		 Thông Tin
		</a>
		<a class="dropdown-item" href="#">
		  <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
		  Đăng Nhập
		</a>
		<a class="dropdown-item" href="#">
		  <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
		  Tạo Tài Khoản
		</a>
		<div class="dropdown-divider"></div>
		<a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
		  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
		  Đăng Xuất
		</a>
	  </div>
	</li>

  </ul>

</nav>
<!-- End of Topbar -->
</div>


	<!-- Main -->
	<div class="Container jFkAwY ">
		<div class="CartPage zCLHs">
			<div class="cart">
				<div class="cart-inner ">
					<div class="styles__StyledCartProducts McNPu">
						<h2 class="cart-products__title">
							GIỎ HÀNG <br>
						</h2>
						Tổng số sản phẩm :<span class="cart-products__count"
							th:text="${myCart.cartLineItem.size()}"></span>

						<div class="cart-products-inner"
							th:each="item,itemIndex:${myCart.cartLineItem}"  th:style="${itemIndex.odd}? 'background-color: #ebebe0;'"
 							 th:alt-title="${itemIndex.even}? 'even' : 'Sản phẩm bạn đặt mua'">
							<ui class="cart-products__products">
							<li class="cart-products__product">
								<div class="cart-products__inner">
									<div class="cart-products__img">
										<a href="#"> <img th:src="@{/resources/images/logo.png}" style="width:200px"  >
										</a>
									</div>
									<div class="cart-products__content">
										<div class="cart-products__desc">
											<a class="cart-products__name">
											<span> Tên sản phẩm: </span>
											<span th:text="${item.strProductName}"></span></a> <br> 
												<span class="cart-products__seller" th:text=" 'Cung Cap boi : '+${item.supplier.supplierName}"></span>
											<p class="cart-products__actions">
												<a th:id="'btnRemoveCart'+${item.iproductid}"
													th:onclick="|RemoveToCart(${item.iproductid})|"><span
													class="cart-products__del">XÓA KHỎI GIỎ HÀNG</span></a>
											</p>
										</div>
										<div class="cart-products__details">
											<div class="cart-products__pricess">
												<p class="cart-products__real-prices"
													th:text="${item.dbSellingPrice}"></p>
													<input type="hidden" th:value="${item.dbSellingPrice}" th:id="price+${itemIndex.index}">
											</div>
											<div class="cart-products__qty">
												<div class="buttons_added">
												<a th:id="'btnMinus'+${itemIndex.index}" th:onclick="|buttonClickMinus(${itemIndex.index})|"><button class="minus is-form" >-</button></a>					
													<input aria-label="quantity" class="input-qty" th:id="'inc'+${itemIndex.index}" max="10" min="1" name="" type="number"  th:value="${item.iQuantityinCart}">
												<a th:id="'btnPlus'+${itemIndex.index}" th:onclick="|buttonClicPlus(${itemIndex.index})|"><button class="plus is-form">+</button></a>
													<input type="hidden" th:value="${item.iproductid}" th:id="'productid'+${itemIndex.index}">
												</div>
											</div>
										</div>
									</div>
								</div>
							</li>
							</ui>
						</div>
					</div>
				</div>
				<div class="cart-total-prices">
					<div class="cart-total-prices__inner">
						<div class="CartPrices_ ENgjL">
							<div class="prices">
								<ul class="prices__items">
									<li class="prices__item"><span class="prices__text">Tạm
											tính</span> <span class="prices__value" ></span></li>
								</ul>
								<p class="prices__total">
									<span class="prices__text">Thành tiền</span>
									</br>
									<input type="number"
										class="ENgjL prices__value--final " disabled="disabled" th:value="${myCart.total}"  > 
									<i>(Đã bao gồm VAT nếu có)</i>
								</p>
							</div>
						</div>
						<a th:href="@{Thongtindathang(myCart=${mycart})}">
						<button  class="cart__submit" >Tiến hành đặt
							hàng</button></a>
					</div>
				</div>

			</div>
		</div>

	</div>
	<!--End Main-->

	<!-- Footer -->
	<footer class="sticky-footer bg-white">
		<div class="container my-auto">
			<div class="copyright text-center my-auto">
				<span>Copyright &copy; Your Website 2019</span>
			</div>
		</div>
	</footer>
	<!-- End of Footer -->
</body>

</html>