<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Đăng Nhập</title>

	<!-- Bootstrap -->
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
		th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}" rel="stylesheet" />
	<!-- Custom style -->
	<link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"
		th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>

	<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js"
		th:src="@{/webjars/jquery/1.13.1/jquery.validate.min.js}"></script>

	<!-- Popper JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"
		th:src="@{/webjars/popper.js/1.16.0/umd/popper.min.js}"></script>


	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
		th:src="@{/webjars/bootstrap/4.5.0/js/bootstrap.min.js}"></script>


</head>

<body class="container">
	<h2>Đăng Nhập</h2>
	<div class="container">
		<form action="" th:action="@{/j_spring_security_check}" method="POST">
			<div class="form-group">
				<label for="email">Email</label> <input type="email" name="email" id="email" required placeholder="Email"
					class="form-control" />
			</div>
			<div class="form-group">
				<label for="matkhau">Password</label> <input type="password" name="password" id="password" required
					placeholder="Password" class="form-control" />
			</div>
			<button type="submit" id="btnSubmit" class="btn btn-success">Sign In</button>
			<div>
				
				<a th:href="@{/index}"> Danh Sách Sản Phẩm</a>
			</div>
		</form>
	</div>
</body>

</html>